################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeShop/.vs/CoffeShop/v16
/CoffeShop/Domain/obj
/CoffeShop/Application/obj
/CoffeShop/Framework/obj
