################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CoffeShop/.vs/CoffeShop/v16
/CoffeShop/Domain/obj
/CoffeShop/Application/obj
/CoffeShop/Framework/obj
/CoffeShop/Application/bin/Debug/netcoreapp3.1
/CoffeShop/Domain/bin/Debug/netcoreapp3.1
/CoffeShop/Framework/bin/Debug/netcoreapp3.1
/CoffeShop/.vs/CoffeShop/DesignTimeBuild
/CoffeShop/CoffeShopTests/obj
/CoffeShop/WebAPI/bin/Debug
/CoffeShop/WebAPI/obj
/CoffeShop/infrastructure/bin/Debug/netcoreapp3.1
/CoffeShop/infrastructure/obj
/CoffeShop/CoffeShopTests/bin/Debug/netcoreapp3.1
